h1.paq {
    font-size: 50px;
    text-align: center;
    border: 10px solid;
    border-radius: 10px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(5, 10, 75) rgb(9, 44, 241) rgb(9, 44, 241) rgb(5, 10, 75);
}
h3 {
    text-align: center;
    margin: auto;
    border: 5px dashed rgb(10, 57, 119);
    width: 300px;
    border-radius: 40px 20px 40px 20px;
}
body {
    background-color: rgb(69, 138, 230);
}
img {
    width: 300px;
    margin-top: 90px;
}
nav {
    border-style: solid;
    border-color: rgba(8, 26, 49, 0.815);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    list-style: none;
    padding: 0%;
    width: auto;
    margin: auto;
    background: rgb(45, 77, 104);
}
h1.tuto {
    color: rgb(5, 32, 58);
    font-size: 45px;
}
ul li {
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    padding: 7px 12px;
    border-radius: 15px;
    color: gray;
    background: rgb(9, 5, 59);
    transition: all 0.5s ease;
}
h2 {
    margin-left: 50px;
}